<ion-view view-title="Preferencias">
  <ion-content>
     <div class="list">
      
      <select class="form-control">
          <option value="">Selecione tipo de cadastro</option>
          <option value="0">Física</option>
          <option value="1">Jurídica</option>
    </select>

      <label class="item item-input">
        <input type="text" placeholder="Nome exibição">
      </label>

       <label class="item item-input">
        <input type="text" placeholder="Razão social" >
      </label>

       <label class="item item-input">
        <input type="text" placeholder="Nome fantasia ou nome">
      </label>

      <label class="item item-input">
        <input type="text" placeholder="CNPJ">
      </label>

       <label class="item item-input">
        <input type="text" placeholder="CPF">
      </label>

        <label class="item item-input">
        <input type="text" placeholder="E-mail">
      </label>

         <label class="item item-input">
        <input type="text" placeholder="Telefone 1">
      </label>

         <label class="item item-input">
        <input type="text" placeholder="Telefone 2">
      </label>

        <label class="item item-input">
        <input type="text" placeholder="Celular 1">
      </label>

        <label class="item item-input">
        <input type="text" placeholder="Celular 2">
      </label>

      <label class="item item-input">
        <textarea rows="4" placeholder="Detalhes"></textarea>
      </label>

      <label class="item item-input">
        <input type="text" placeholder="Site">
      </label>
          
      <label class="item item-input">
        <input type="text" placeholder="CEP">
      </label>
       
        <label class="item item-input">
        <input type="text" placeholder="Endereço">
      </label>

       <label class="item item-input">
        <input type="number" placeholder="Número">
      </label>

        <label class="item item-input">
        <input type="text" placeholder="Bairro">
      </label>

        <label class="item item-input">
        <input type="text" placeholder="Cidade">
      </label>

        <label class="item item-input">
        <input type="text" placeholder="UF">
      </label>

         <select class="form-control">
            <option value="">Selecione tipo de estacionamento</option>
            <option value="0">Gratuito</option>
            <option value="1">Pago</option>
            <option value="2">Não poussi</option>
        </select>

        <label class="item item-input">
            <input type="text" placeholder="Valor">
        </label>  

         <label class="item item-input">
            <input type="text" placeholder="Facebook">
        </label>

          <label class="item item-input">
            <input type="text" placeholder="Twitter">
        </label>

         <label class="item item-input">
            <input type="text" placeholder="Instagram">
        </label>
        

         <li class="item item-toggle">
           Wifi gratuito
           <label class="toggle toggle-balanced">
             <input type="checkbox">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        

           <label class="item item-input">
            <input type="file" placeholder="Logo">
        </label>


    </div>


  </ion-content>
</ion-view>
