<ion-view view-title="Mapa">
{{result}}
 <ion-content>
      <div id="map" data-tap-disabled="true"></div>
<!--     <ion-footer-bar class="bar-dark">
    {{result}}
      <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Find Me</a>
    <button ng-click="login()" class="button button-block button-balanced">Oauth Sign In</button>
            
    </ion-footer-bar>
 -->


  </ion-content>
</ion-view>
