<ion-view view-title="Pesquisar">
  <ion-content class="padding">
    <ion-list>

            <div class="list card">

            <a href="#" class="item item-icon-left">
          <i class="energized icon ion-fork"></i>
              Comis & Bebis
            </a>

            <a href="#" class="item item-icon-left">
              <i class="energized icon ion-ios-telephone"></i>
              Assistência Técnica
            </a>

            <a href="#" class="item item-icon-left">
              <i class="energized icon ion-ios-book"></i>
            Educação / Aulas e Cursos
            </a>

            <a href="#" class="item item-icon-left">
              <i class="energized icon ion-model-s"></i>
              Carros e Serviços Automotivos
            </a>

              <a href="#" class="item item-icon-left">
              <i class="energized icon ion-ios-home"></i>
            Serviços Domésticos
            </a>

            <a href="#" class="item item-icon-left">
              <i class="energized icon ion-person"></i>
             Moda e Beleza
            </a>

            <a href="#" class="item item-icon-left">
              <i class="energized icon ion-settings"></i>
            Casa, Construção e Serviços Residenciais
            </a>

            <a href="#" class="item item-icon-left">
              <i class="energized icon ion-medkit"></i>
              Saúde
            </a>

                <a href="#" class="item item-icon-left">
              <i class="energized icon ion-ios-paw"></i>
            Animais de Estimação
            </a>

            <a href="#" class="item item-icon-left">
              <i class="energized icon ion-plane"></i>
            Viagens e Turismo
            </a>

            <a href="#" class="item item-icon-left">
              <i class="energized icon ion-ios-people"></i>
            Outros Profissionais
            </a>

            <a href="#" class="item item-icon-left">
              <i class="energized icon ion-more"></i>
             Outros Serviços
            </a>

          </div>

    </ion-list>
  </ion-content>
</ion-view>
