<ion-view view-title="Preferencias"  >
 <ion-content class="padding">
    <ion-list>


<!--       <div id="fb-root" > </div>  -->

        <a href="#" class="item item-icon-left" ng-click="testeface()">
      <i class="dark icon ion-locked"></i>
          Cadastrar / Entrar
        </a>

          <a href="#" class="item item-icon-left" ng-click="testeface2()">
      <i class="dark icon ion-person"></i>
          Perfil
        </a>

         <a href="#/tab/preferencias/cadastro" class="item item-icon-left">
          <i class="balanced icon ion-social-usd"></i>
        Sou um profissional
        </a>

        <a href="#" class="item item-icon-left">
          <i class="assertive icon ion-android-favorite"></i>
          Favoritos
        </a>

        <a href="#" class="item item-icon-left">
          <i class="dark icon ion-gear-b"></i>
        Configuração
        </a>


        {{teste}}
         {{teste2}}
          {{teste3}}
           {{teste4}}
            {{teste5}}




    </ion-list>
  </ion-content>
</ion-view>
