<ion-tabs class="tabs-icon-top tabs-background-energized tabs-color-dark">

  <!-- Dashboard Tab -->
  <ion-tab title="Mapa" icon-off="ion-map" icon-on="ion-map" href="#/tab/dash">

    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Pesquisar22" icon-off="ion-ios-search-strong" icon-on="ion-ios-search-strong" href="#/tab/pesquisar">
    <ion-nav-view name="tab-pesquisar"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Preferencias" icon-off="ion-navicon-round" icon-on="ion-navicon-round" href="#/tab/preferencias">
    <ion-nav-view name="tab-preferencias"></ion-nav-view>
  </ion-tab>


</ion-tabs>
